.container .buttons .btn{
 padding: 8px 16px;  
 border-radius: 8px;
 font-size: 16px;
 border: 1px solid green;
 margin-bottom: 6px;
 margin-left: 10px;
}
.board{
    width: 400px;
    height: 200px;
    border: 1px solid grey;

}
.container{
    display: flex;
}
.buttons{
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin-left: 0;
    margin-right: 12px;
  }
.inputs{
   margin-left: 100px;
}
.bubble{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 5px;

}
